# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
# 忽略 VSCode 設定檔（位於 .vscode 資料夾中的 .json 檔）
.vscode/*.json

# 忽略 target 資料夾及其所有內容（通常為編譯後產物）
target/